<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Articles Page :</h1>
    <hr/>
    <div style="background-color: orange;padding: 20px;color: black;">

        <% for( let article of allArticles ) { %>
            <h2 style="background-color: blue;"><%=article.title%></h2>
            <h4><%=article.body%></h2>
            <hr>
            <br>
            <!-- <hr> -->
        <% } %>
    </div>
</body>
</html>