<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello <%=name%> your Age : <%=age%></h1>
    <p style="background-color: orange;padding: 10px;color: blue;border-radius: 15px;">
        <%=nums%>
    </p>
    <%if (name == "ali"){%>
        <div>
            fk you ali
        </div>
    <% } %>    
</body>
</html>